/* texto */
.saldo{
    text-align: center;
    color:#CE9F41;
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
}

/* div azul */
.blue {
    display: flex;
    flex-direction: column; /* Para empilhar os elementos verticalmente */
    align-items: center; /* Alinhar verticalmente no centro */
    justify-content: center; /* Alinhar horizontalmente no centro */
    background-color: #00003C;
    height: 550px;
    width: 100%;
  }
  

/* div do valor */
.value{
    /* margin-top: 10px; */
    /* margin-left: 300px; */
    /* margin-top: 100px; */
    /* border: 5px solid #CE9F41; */
    border-color: #CE9F41;
    border-radius: 170px 170px 170px 170px;
    width: 700px;
    height: 180px;
    color: #CE9F41;
    padding: 14px 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
}



/* div do botao */
.btn {
  border: 2px solid black;
  border-radius: 35px 35px 35px 35px;
  border-color: #CE9F41;
  background-color: #00003C;
  width: 250px;
  height: 60px;
  color:#CE9F41;
  padding: 14px 28px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  cursor: pointer;
  /* margin-top: 400px;
  margin-right: 750px; */
  align-items: center; /*Alinhar verticalmente no centro */
}

.btn:hover {
  background-color: #a18347;
}


.txt_cad {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color:#CE9F41;
    padding: 10px;
    padding-bottom: 50px;
}

#deposito {
    margin-left:2px;
    margin-right: 2px;
    width: 60%; /* Ocupar a largura total da div login */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    border-bottom:#CE9F41; /* Linha branca na parte inferior */
    color: white; /* Texto branco */
    font-size: 30px; /* Tamanho da fonte */
}

.visu{
    color:white;
    padding-left: 900px;
    justify-content: left;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
