.txt_cadastro{
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    color: rgb(244, 244, 244);
    padding: 0px 0px 0px 300px;
}

/* Mantenha suas regras de estilo existentes aqui */

.cadastro {
    /* da div azul login */
    background-color: #00003C;
    height: 700px;
    width: 800px;
    margin-left: 500px;
    border-radius: 20px;
    display: flex; /* Usar flex para o layout */
    flex-direction: column; /* Coluna para alinhar verticalmente */
    align-items: flex-start; /* Alinhar à esquerda */
    padding: 20px; /* Espaçamento interno */
}

.txt_cad {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: rgb(244, 244, 244);
    padding: 10px 0;
}

#nome,
#senha,
#confirmar {
    margin-left:2px;
    margin-right: 2px;
    margin-bottom: 80px;
    width: 97%; /* Ocupar a largura total da div login */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    border-bottom: 2px solid white; /* Linha branca na parte inferior */
    color: white; /* Texto branco */
    font-size: 20px; /* Tamanho da fonte */
    font-family: 'Montserrat', sans-serif;
}

.btn{
        margin: 0px 0px 0px 310px;
        border: 2px solid black;
        border-radius: 35px;
        border-color: #CE9F41;
        background-color:  #00003C;
        width: 200px;
        height: 60px;
        color: white;
        padding: 14px 28px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        cursor: pointer;
}

.btn:hover{
    background-color: #CE9F41;
}

.img_nome{
    width: auto;
    margin:10px 600px 30px;

}
