.txt_login{
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    color: rgb(244, 244, 244);
    padding: 10px 0px 0px 225px;
}

.txt_bank{
    padding: 0px 150px 30px;
    color:#00003C;
    font-family: 'Montserrat', sans-serif;
    font-size:23px;
}

/* Mantenha suas regras de estilo existentes aqui */

.login {
    /* da div azul login */
    background-color: #00003C;
    width: 600px;
    height: 600px;
    margin-left: 100px;
    border-radius: 10px 20px;
    display: flex; /* Usar flex para o layout */
    flex-direction: column; /* Coluna para alinhar verticalmente */
    align-items: flex-start; /* Alinhar à esquerda */
    padding: 20px; /* Espaçamento interno */
}

.txt_cad {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: rgb(244, 244, 244);
    padding: 10px 0;
}

#nm,
#password {
    margin-left:2px;
    margin-right: 2px;
    width: 97%; /* Ocupar a largura total da div login */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    border-bottom: 2px solid white; /* Linha branca na parte inferior */
    color: white; /* Texto branco */
    font-size: 18px; /* Tamanho da fonte */
}

.btn{
        margin: 20px 0px 0px 200px;
        border: 2px solid black;
        border-radius: 35px 35px 35px 35px;
        border-color: #CE9F41;
        background-color:  #00003C;
        width: 200px;
        height: 60px;
        color: white;
        padding: 14px 28px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        cursor: pointer;
}

.btn:hover{
    background-color: #CE9F41;
}


.img_nome{
    width: auto;
    margin:10px 400px 30px;

}

.div{ 
    /* da div total page1 */
   height: 600px;
   width: 1100;
   display: flex;

}


.frase{
    background-color: whitesmoke;
    /* div da oura metade c frase e login */
    display: inline-block;
    margin-right: 20px;
    width:500px;
    height: 600px;
    border-radius: 10px 0px 0px 20px;


}

.p_cima{
    /* background-color: red; */
    height:450px;
    


}

.p_baixo{
    /* background-color: aqua; */
    font-family: 'Montserrat', sans-serif;
    color: rgb(244, 244, 244);
    height:100px;

}

.img_login{
    height: 400px;
    width: 500px;
}